@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$px-theme:			#1877F2 !default;

$px-dark:			#323258 !default;
$px-white:			#fff !default;
$px-black:			#000 !default;

$px-gray:			#F8FBFF !default;
$px-body:			#687898 !default;


$px-font-size:		15px !default;

$px-line-height:	1.7 !default;

$px-font:			'Inter', sans-serif !default;



// Breakpoints
$px-media-xsm:		567px !default;
$px-media-sm:		767px !default;
$px-media-md:		991px !default;
$px-media-lg:		1200px !default;